In [2]:
import pandas as pd

data = pd.read_csv("./Data/twitter_sentiment/training.1600000.processed.noemoticon.csv", nrows=800002)

In [3]:
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
def count_vals(data, label):
    cols = {}
    for dat in data[label]:
        if dat not in cols:
            cols[dat] = 1
        else:
            cols[dat] += 1
    return cols


def load_dataset(filepath, rownum, start_point, posneg_split=800000):
    halfed_data = rownum // 2
    start_point2 = (start_point // 2) + posneg_split

    df1 = pd.read_csv(filepath, nrows=halfed_data, skiprows=range(1, start_point))
    df2 = pd.read_csv(filepath, nrows=halfed_data, skiprows=range(1, start_point2))
    return pd.concat([df1, df2], ignore_index=True)


data_path = "./Data/twitter_sentiment/training.1600000.processed.noemoticon.csv"
df = load_dataset(data_path, 50, 20)

In [5]:
import numpy as np
from sentence_transformers import SentenceTransformer, util
import pandas as pd
import spacy
from sentence_encoder import SentenceEncoder

def process_data():
    ...

def save_data(filepath, name: str, data: pd.DataFrame):
    numRows = data.shape[0]
    save_file = filepath + f"twitter.{numRows}.{name}.json"
    data.to_json(save_file)

def load_dataset(filepath, rownum, start_point, posneg_split=800000):
    halfed_data = rownum // 2
    start_point2 = (start_point // 2) + posneg_split

    df1 = pd.read_csv(filepath, nrows=halfed_data, skiprows=range(1, start_point))
    df2 = pd.read_csv(filepath, nrows=halfed_data, skiprows=range(1, start_point2))
    return pd.concat([df1, df2], ignore_index=True)


def main():
    #nlp = spacy.load("en_core_web_sm")
    #model = SentenceTransformer("all-mpnet-base-v2")
    
    data_path = "./Data/twitter_sentiment/training.1600000.processed.noemoticon.csv"
    train_num = 5000
    test_num = 1000
    valid_num = 1

    # Retrieve data
    train_data = load_dataset(data_path, train_num, 0)
    test_data = load_dataset(data_path, test_num, train_num)
    valid_data = load_dataset(data_path, valid_num, train_num + test_num)

    # Initialize Sentence encoder
    encoder = SentenceEncoder()
    print(f"Sentences are being encoded: {train_data.columns}")
    valid_data["encodings"] = valid_data[' text'].apply(lambda x: encoder.encode(x))
    print(f"Finished encoding!")
    save_file_path = "./Data/twitter_sentiment/"
    save_data(save_file_path, "train", train_data)
    save_data(save_file_path, "test", test_data)
    save_data(save_file_path, "valid", valid_data)

/home/marcuswrrn/Projects/Semantic_Testing/AutoEncodeEmbeddings/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
valid_data = load_dataset("./Data/twitter_sentiment/training.1600000.processed.noemoticon.csv", 10, 0)

valid_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
model = SentenceEncoder()

sent = model.encode(valid_data[' text'][0])

In [9]:
df = pd.read_json("./Data/twitter_sentiment/twitter.500.valid.json")
df.head()

,target,id,date,flag,user,text,encodings
0,0,1469261073,Tue Apr 07 05:48:05 PDT 2009,NO_QUERY,RockStark10,I can't believe that it's cold outside and it'...,"[-0.0252575651, 0.0313318186, 0.01299186520000..."
1,0,1469261081,Tue Apr 07 05:48:04 PDT 2009,NO_QUERY,LolaRae,"Sick, i guess no FTSK show tonight.","[-0.0298570413, -0.0373516232, -0.0161955226, ..."
2,0,1469262489,Tue Apr 07 05:48:22 PDT 2009,NO_QUERY,mobbsey,@RicardoTech Unfortunately I'm not allowed to ...,"[0.0158521421, 0.020962903300000002, -0.021635..."
3,0,1469262681,Tue Apr 07 05:48:24 PDT 2009,NO_QUERY,IanRobinson,New Xserve's. New higher price. No surprise th...,"[-0.0188876688, -0.038883563100000004, 0.00126..."
4,0,1469263284,Tue Apr 07 05:48:32 PDT 2009,NO_QUERY,DEfusion,"Oh no, my server has just died support (e.g. ...","[0.0302596483, -0.0158746373, -0.0027549546, 0..."

In [12]:
len(df['encodings'][0])

768